* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}


body p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*header*/
.overmain_nav p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	margin: 40px 0px;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 70px;
}


.overmain_nav {
	padding: 30px 20px 30px 20px;
	background-image: url('https://hoff.ru/upload/medialibrary/d9c/z7shsvrgyf3q3nnwdvlhidpn5zp0ce0g.jpg') ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1);


}

.left_nav {
	grid-column: 1/3
}

.nav_main {
	grid-column: 3/11
}

.right_nav {
	grid-column: 11/13
}

.nav_top,
.logo {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.logo>img {
	width: 3.5em;
	height: 3.5em;

}

.text_logo {
	font-size: 3.5em;
	font-weight: bold;
	color: #fff;
	padding-left: 10px;
	padding-bottom: 20px;
}

.nav_btn {
	border: none;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	font-size: 1em;
	font-weight: 900;
	text-align: center;
}

.list {
	display: none;

}

.list ul {
	border-radius: 15px;
	background-color: rgba(75, 125, 79, 0.47);
}

.list li {
	display: block;
	font-size: 1.5em;
	color: #fff;
	line-height: 40px;
	width: 100px;
	text-align: center;
	text-transform: uppercase;
}

.drop {
	position: relative;
}

.drop:hover .list {
	display: block;
	position: absolute;
	right: 1px;
}

.list li:hover {
	background-color: rgb(75, 125, 79);
	border-radius: 15px;
	transition: 0.5s;

}

h1 {
	font-size: 4em;
	text-transform: capitalize;
	font-weight: 800;
}

.link {
	color: rgb(228, 200, 37);
	font-size: 1.5em;
	border-bottom: 1px solid rgb(228, 200, 37);
}

.link::before {
	content: '\21D2';
}


/*section*/
.main_conteiner {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1);
}

.main_conteiner h2,
h3,
h4,
h5,
h6 {
	color: black;
}

.left_body {
	grid-column: 1/3;
}




.main_text {
	grid-column: 3/11;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2);
}

.A_row {
	grid-row: 1/2;
	grid-column: 1/10;
}

.p_maintext {
	margin: 4em 0em 1.5em 0em;
	font-size: 2.5em;
	font-weight: 900;
	color: rgba(31, 31, 31, 0.827);
}

.a_column {
	grid-column: 1/4;
	text-align: center;
}

.b_column {
	grid-column: 4/7;
	text-align: center;

}

.c_column {
	grid-column: 7/10;
	text-align: center;
}

.d_column {
	grid-column: 10/13;
	text-align: center;
}

.h_text {
	margin: 10px;
	padding: 10px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 900;
	color: rgba(35, 35, 35, 0.668);
	line-height: 35px;
}

.p_text {
	font-size: 1.25em;
	color: #524e4edc;
	padding: 5px;
}


.list_text {
	margin-top: 4em;
}

.list_text a {
	font-size: 1.5em;
	color: rgba(108, 106, 106, 0.63);
	border-bottom: 1px solid rgba(108, 106, 106, 0.63);
	font-weight: 700;
}


.list_text a:hover {
	color: rgb(228, 200, 37);
	transition: 0.5s;
}

.list_text a::before {
	content: '\21D2';
}


.right_body {
	grid-column: 11/13;
}

.text_bottom {
	width: 75%;
	height: 240px;
	position: relative;
	top: 50px;
	background: linear-gradient(90deg, #76ec74 0%, #007e8a 100%);
	
	
}

.block_text li{
	text-align: left;
	padding: 5px 20px 5px 50px;
}
.block_text a {
	color: #ffffff96;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(108, 106, 106, 0.63);
	font-weight: 700;
	
}
.block_text a:hover {
	color: rgb(228, 200, 37);
	transition: 0.5s;
}

.text_bottom h2 {
	color: rgb(255, 255, 255);
	font-size: 4em;
	text-transform: capitalize;
	font-weight: 900;
	
}


/*footer*/


.main_bottom {
	background-image: url('https://i.pinimg.com/originals/5a/0e/c0/5a0ec0b25e7ea36c649fb923836b8157.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1);
	
}



.left_bottom {
	grid-column: 1/3;
}




.grid_bottom {
	grid-column: 3/11;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3);
}

.green_bottom {
	margin: 1em 0.5em;
	color: rgba(38, 208, 115, 0.704);
	font-size: 1.25em;
}
.phone{
	padding-top: 2.5em;
}

.green_bottom:hover {
	color: rgb(213, 224, 189);
	border-bottom: 2px solid #4d5b49aa;
	transition: 0.3s;
}

.bold_bottom {
	color: #fff;
	font-weight: 700;
	font-size: 1.45em;
	margin: 2em 1em;
}

.h4_bottom {
	color: #fff;
	font-weight: 900;
	font-size: 2em;
}


.f_bottom {
	grid-row: 1/2;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border-bottom: 1px solid rgba(43, 233, 128, 0.704);
}

.ff_column {
	grid-column: 1/4;
	text-align: center;
}

.fs_column {
	grid-column: 4/7;
	text-align: center;

}


.s_bottom {
	grid-row: 2/3;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	text-align: center;
	border-bottom: 1px solid rgba(43, 233, 128, 0.704);


}

.sf_column {
	grid-column: 1/4;
	text-align: center;

}

.ss_column {
	grid-column: 4/7;
	text-align: center;


}

.st_column {
	text-align: center;
	grid-column: 7/10;

}

.sd_column {
	border-left: 1px solid rgba(38, 208, 115, 0.704);
	text-align: center;
	grid-column: 10/13;
	margin: 1em 0em;

}

.logo_imgbottom {
	display: flex;

	align-items: center;
}

.logo_imgbottom img {
	width: 30px;
	filter: brightness(75%);
	margin: 0px 15px;
}

.logo_imgbottom img:hover {
	filter: brightness(100%);
	transition: 0.8s;
}


.t_bottom {
	grid-row: 3/4;
	text-align: center;
	grid-column: 1/13;

}


.t_bottom {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.logo_bottom>img {
	width: 3.5em;
	height: 3.5em;

}

.text_logo {
	font-size: 3.5em;
	font-weight: bold;
	color: #fff;
	padding-left: 10px;
	padding-bottom: 20px;
}





.left_bottom {
	grid-column: 11/13;

}










/*media*/

@media (max-width:1000px) {
	.overmain_nav {
		display: block;
	}

	.main_conteiner {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	 	grid-template-rows: repeat(1);
	}

	.main_text {
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2);
	}
	.A_row {
		grid-row: 1/2;
		grid-column: 1/13;
		font-size: 1.25em;
	}
	.list_text {
		margin-bottom: 1.75em;
	}
	.a_column {
		grid-column: 1/7;
		text-align: center;
	}
	
	.b_column {
		grid-column: 7/13;
		text-align: center;
	
	}
	
	.c_column {
		grid-column: 1/7;
		text-align: center;
	}
	
	.d_column {
		grid-column: 7/13;
		text-align: center;
	}


	.text_bottom {
		width: 85%;
		height: 400px;
		position: relative;
		top: 50px;
		background: linear-gradient(90deg, #76ec74 0%, #007e8a 100%);
		text-align: left;
		padding:  45px;
	}

	.block_text li{
		text-align: left;
	}
	.block_text a {
		color: #ffffff96;
		font-size: 1.25em;
		border-bottom: 1px solid rgba(108, 106, 106, 0.63);
		font-weight: 700;
		
	}
	.block_text a:hover {
		color: rgb(228, 200, 37);
		transition: 0.5s;
	}
	
	.text_bottom h2 {
		padding-left: 1em;
		color: rgb(255, 255, 255);
		font-size: 3em;
		text-transform: capitalize;
		font-weight: 700;
		
	}




	.main_bottom {
		background-image: url('https://i.pinimg.com/originals/5a/0e/c0/5a0ec0b25e7ea36c649fb923836b8157.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1);
		
	}
	
	.grid_bottom {
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3);
	}
	
	.green_bottom {
		margin: 1em 0.5em;
		color: rgba(38, 208, 115, 0.704);
		font-size: 1em;
	}
	.phone{
		padding-top: 2.5em;
	}
	
	.green_bottom:hover {
		color: rgb(213, 224, 189);
		border-bottom: 2px solid #4d5b49aa;
		transition: 0.3s;
	}
	
	.bold_bottom {
		color: #fff;
		font-weight: 700;
		font-size: 1.1em;
		margin: 1.5em 1em;
	}
	
	.h4_bottom {
		color: #fff;
		font-weight: 700;
		font-size: 1.15em;
	}
	
	
	.f_bottom {
		grid-row: 1/2;
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		border-bottom: 1px solid rgba(43, 233, 128, 0.704);
	}
	
	.ff_column {
		grid-column: 1/5;
		text-align: center;
	}
	
	.fs_column {
		grid-column: 5/10;
		text-align: center;
	
	}
	
	
	.s_bottom {
		grid-row: 2/3;
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		text-align: center;
		border-bottom: 1px solid rgba(43, 233, 128, 0.704);
	
	
	}
	
	.sf_column {
		grid-column: 1/7;
		text-align: center;
	
	}
	
	.ss_column {
		grid-column: 7/13;
		text-align: center;
		border-left: 1px solid rgba(43, 233, 128, 0.704);
		margin-bottom: 2em;
	
	}
	
	.st_column {
		text-align: center;
		grid-column: 1/7;
	
	}
	
	.sd_column {
		text-align: center;
		grid-column: 7/13;
		margin-bottom: 2em;
		
	}
	
	.logo_imgbottom {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.logo_imgbottom img {
		width: 30px;
		filter: brightness(75%);
		margin: 0px 15px;
	}
	
	.logo_imgbottom img:hover {
		filter: brightness(100%);
		transition: 0.8s;
	}



}

@media (max-width:550px) {
	.text_bottom {
		width: 100%;
		height: 400px;
		position: relative;
		top: 50px;
		background: linear-gradient(90deg, #76ec74 0%, #007e8a 100%);
		text-align: left;
		padding:  25px;
	}

	


	.main_bottom {
		background-image: url('https://i.pinimg.com/originals/5a/0e/c0/5a0ec0b25e7ea36c649fb923836b8157.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1);
		
	}
	
	.grid_bottom {
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3);
	}
	
	.green_bottom {
		margin: 1em 0.5em;
		color: rgba(38, 208, 115, 0.704);
		font-size: 1em;
	}
	.phone{
		padding-top: 2.5em;
	}
	
	.green_bottom:hover {
		color: rgb(213, 224, 189);
		border-bottom: 2px solid #4d5b49aa;
		transition: 0.3s;
	}
	
	.bold_bottom {
		color: #fff;
		font-weight: 700;
		font-size: 1.1em;
		margin: 1.5em 1em;
	}
	
	.h4_bottom {
		color: #fff;
		font-weight: 700;
		font-size: 1.15em;
	}
	
	
	.f_bottom {
		grid-row: 1/2;
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		border-bottom: 1px solid rgba(43, 233, 128, 0.704);
	}
	
	.ff_column {
		grid-column: 1/7;
		text-align: center;
	}
	
	.fs_column {
		grid-column: 7/13;
		text-align: center;
	
	}
	
	
	.s_bottom {
		grid-row: 2/3;
		grid-column: 1/13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		text-align: center;
		border-bottom: 1px solid rgba(43, 233, 128, 0.704);
	
	
	}
	
	.sf_column {
		grid-column: 1/13;
		text-align: center;
	
	}
	
	.ss_column {
		grid-column: 1/13;
		text-align: center;
		border-left: 1px solid rgba(43, 233, 128, 0.704);
		margin-bottom: 2em;
	
	}
	
	.st_column {
		text-align: center;
		grid-column: 1/13;
	
	}
	
	.sd_column {
		text-align: center;
		grid-column: 1/13;
		margin-bottom: 2em;
		
	}
	

	.t_bottom {
		display: block;
		
	}
	
	.logo_bottom>img {
		width: 3.5em;
		height: 3.5em;
	
	}
	
	.text_logo {
		font-size: 3.5em;
		font-weight: bold;
		color: #fff;
		padding-left: 10px;
		padding-bottom: 20px;
	}


}
	
